@font-face{
    font-family: "DSEG7";
    src: url("fonts/DSEG7Classic-BoldItalic.ttf") format("truetype");
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* background: #c01600; */
    /* background: rgb(255, 94, 94); */
    background: #F6A97D;
    font-family: sans-serif;
}

#wrapper {
    margin-top: 7%;
    position: relative;
    height: 100%;
    width: 412px;
}

.content {
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly; 
    position: relative;
    z-index: 100;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#solarPanel{
    width: 300px;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /* background-color: rgba(212, 186, 71, 0.705); */
    background-color: rgb(224, 205, 133);
    border: solid 1px rgb(184, 181, 181);
    box-shadow: inset 0px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

#solarPanel div {
    border-right: 2px solid rgba(158, 137, 41, 0.904);
}

#screen {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 120px;
    margin-bottom: 30px;
    box-shadow: inset 0px 6px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background: #eaeed7;
    font-family: "DSEG7";
}

#input {
    padding: 0.3rem;
    padding-top: 0.7rem;
    height: 3rem;
    color: rgb(112, 112, 112);
    text-align: right;
    word-wrap: break-word;
}

#output {
    padding: 0.3rem;
    padding-bottom: 0.5rem;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 36px;
    color: rgb(132, 143, 100);
}

.buttons {
    width: 290px;
    height: 300px;
    background-color: #f1d79d;
    padding: 5px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    text-align: center;
}


button{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa9f7a;
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 15%;
    font-size: 25px;
    font-weight: bold;
    color: #eaeed7;
    margin: 10px;
    box-shadow: 0 5px 0 #857c60;
}

#ans {
    font-size: 20px;
}

button:hover{
    filter: brightness(1.1);
}

button:active{
    transform: translateY(2px);
    background-color: #857c60;
}

#equal {
    background-color: #fe9949;
    grid-column: 3 / 5;
    width: 120px;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0 5px 0 #da843f;
}

#equal:active {
    background-color: #da843f;
}

.operator {
    background-color: #db4b38;
    box-shadow: 0 5px 0 #c53838;
}

.operator:active {
    background-color: #c53838;
}
